<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center" th:text="${titulo}"></h1>
                <div class="card-body">
                    <form th:action="@{/form}" th:object="${empleado}" method="post">
                        <inpu th:type="hidden" th:field="*{id}" th:value="${empleado.id}" ></inpu>
                        <div class="form-group">
                            <labe>Nombre: </labe>
                            <input type="text" th:field="*{nombre}" class="form-control" th:errorclass="form-control alert-danger">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errorclass="*{nombre}"></small>
                        </div>
                        <div class="form-group">
                            <labe>Apellido: </labe>
                            <input type="text" th:field="*{apellido}" class="form-control" th:errorclass="form-control alert-danger">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errorclass="*{apellido}"></small>
                        </div>
                        <div class="form-group">
                            <labe>Email: </labe>
                            <input type="text" th:field="*{email}" class="form-control" th:errorclass="form-control alert-danger">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errorclass="*{email}"></small>
                        </div>
                        <div class="form-group">
                            <labe>Teléfono: </labe>
                            <input type="int" th:field="*{telefono}" class="form-control" th:errorclass="form-control alert-danger">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}" th:errorclass="*{telefono}"></small>
                        </div>
                        <div class="form-group">
                            <labe>sexo: </labe>
                            <input type="" th:field="*{apellido}" class="form-control" th:errorclass="form-control alert-danger">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errorclass="*{apellido}"></small>
                        </div>
                        <div class="form-group">
                            <labe>salario: </labe>
                            <input type="text" th:field="*{apellido}" class="form-control" th:errorclass="form-control alert-danger">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errorclass="*{apellido}"></small>
                        </div>
                        <div class="form-group">
                            <labe>fecha: </labe>
                            <input type="text" th:field="*{apellido}" class="form-control" th:errorclass="form-control alert-danger">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errorclass="*{apellido}"></small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>